.background {
    background-color: #EAD6CB;
    background-size: cover;
    width: 100%;
 }
.heroText {
    text-shadow: 5px 2px 3px rgba(255,255,255,0.5);
    // font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 8rem;
    line-height: 148.8%;
    letter-spacing: 0.025em;
    margin-left:100px;
    border-left: 1px solid black;
    padding-left:130px;
    height: 500px;
    margin-bottom: 0;
    padding-top: 50px;
    padding-right: 20px;
    color: #FFFFFF;
 }

 .border {
     border-top: 1px solid rgba(203, 31, 31, 0.31);
     border-left: 1px solid black;
     height:200px;
     margin-left: 100px;
     width: 90%;
     
   
 }

.box {
   position: absolute;
   border-bottom: 1px solid rgba(203, 31, 31, 0.31);
   border-right: 1px solid black;
   width:101px;
   margin-top: 500px;
   padding-left: 10px;
   
  
}
.inspiredText {
    position: absolute;
    top: 550px;
    left:30px;
    width:101px;
    transform: rotate(270deg);
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 148.8%;
    letter-spacing: 0.035em;
    color: rgba(203, 31, 31, 0.31);
}

.portfolio {
    display: flex;
    justify-content: center;
    h2 {
        margin-right: 100px;
    }
   
}